@import url(../color.css);

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "M PLUS 1p", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--second-color);
}

input:hover {
  border: 1.5px solid var(--primary-color);
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 1px 3px 0px black;
}
.cover {
  display: block;
  background-color: white;
  border: 1px solid black;
  width: 40%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 10px 0px black;
}

.tittle {
  text-align: center;
}

.form-login {
  margin: 0px auto;
  display: table;
  width: 75%;
}

/* Email Password*/
.email {
  margin: 20px 0px;
}

.password {
  margin: 20px 0px;
}
.email input,
.password input {
  width: 100%;
  height: 30px;
  padding: 5px;
  margin-top: 10px;
  box-sizing: border-box;
  border: 1.5px solid var(--primary-color);
  border-radius: 2px;
}
/* Akhir Email Password*/

.no-account {
  text-align: center;
}

.no-account a {
  color: black;
  font-weight: 1000;
}

/* Submit */
.submit input {
  width: 100%;
  height: 30px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  margin-top: 20px;
}

.submit input:hover {
  box-shadow: 1px 3px 0px black;
}
/* Akhir Submit */

/* RESPONSIVE */
@media only screen and (max-width: 480px) {
  .no-account p,
  .no-account a {
    font-size: 10px;
  }
}

@media only screen and (max-width: 426px) {
  .no-account p,
  .no-account a {
    font-size: 9px;
  }
}
